/* Color Palette 
  White: #ffffff
  Light Green: #81ff78
  Normal Green: #73ff54
  Dark Green: #50ce37
*/

body {
  background-color: #81ff78;
  font-family: Roboto, "Segoe UI", sans-serif;
  margin: auto;
}

h1 {
  text-align: center;
}

.tip-calculator {
  background-color: white;
  width: 50%;
  margin: 20px auto;
  border-width: 5px 0px 0px 0px;
  border-color: rgba(80, 206, 55, 1);
  border-radius: 15px;
  border-style: solid;
  box-shadow: 4px 6px 2px 2px rgba(0, 0, 0, 0.4);
  padding: 20px;
  text-align: center;
}

.percentages {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
}

.percentages button {
  cursor: pointer;
  color: white;
  background-color: #50ce37;
  border: 1px solid transparent;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  padding: 10px 20px;
  transition: 0.2s ease all;
  width: 150px;
}

.percentages button:hover {
  background-color: white;
  color: #50ce37;
  border-color: #50ce37;
}

.options button {
  text-align: center;
}
